# -f https://dl.fbaipublicfiles.com/detectron2/wheels/cu102/torch1.9/index.html

# datasets==1.11.0
# torchvision==0.10.0
# pytorch-lightning==1.5.8
# coloredlogs==15.0.1
# scikit-image==0.17.2
# timm==0.4.12
# Pillow==8.3.1
# transformers==4.10.2
# scikit-image==0.17.2
# scikit-learn==0.24.2
# dataclasses==0.8
# seqeval==1.2.2
# torchtext==0.10.0
# dacite==1.6.0
# datadings==3.4.2
# detectron2
# efficientnet_pytorch
# opencv-python
# lime
# bs4
# lxml
# captum
# vit_pytorch
# ./external/ocrodeg
# munkres